In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
df = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\davidson_budget_2011_2021.xlsx")

In [7]:
df.head(20)

,CFG Budget Data Reconciliation,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,2.021000e+03
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CFG Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Payroll,2.844606e+09,2.851555e+09,2.908193e+09,3.062460e+09,3.061574e+09,3.059798e+09,3.217741e+09,3.400236e+09,3.501284e+09,3.687112e+09,3.756236e+09
5,Operational,2.915524e+10,2.907775e+10,2.942078e+10,3.016113e+10,2.992855e+10,3.089020e+10,3.204823e+10,3.394523e+10,3.462776e+10,3.566668e+10,3.707055e+10
6,Total Expenditures,3.199984e+10,3.192931e+10,3.232898e+10,3.322359e+10,3.299013e+10,3.395000e+10,3.526597e+10,3.734547e+10,3.812904e+10,3.935379e+10,4.082679e+10
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,State Appropriations,1.291803e+10,1.363289e+10,1.422184e+10,1.509389e+10,1.488110e+10,1.553081e+10,1.652847e+10,1.794496e+10,1.790569e+10,1.900504e+10,2.014480e+10
9,Federal Revenue,1.392998e+10,1.312466e+10,1.306982e+10,1.323116e+10,1.315647e+10,1.279295e+10,1.341972e+10,1.362691e+10,1.416478e+10,1.424996e+10,1.457218e+10
10,Other Revenue,3.506904e+09,3.257820e+09,3.089804e+09,3.011955e+09,3.095168e+09,3.335600e+09,3.424674e+09,3.834981e+09,3.955240e+09,4.041625e+09,4.052638e+09
11,Tuition and Fees,1.344432e+09,1.490937e+09,1.565613e+09,1.620582e+09,1.689783e+09,1.769236e+09,1.805404e+09,1.858619e+09,1.888035e+09,1.933165e+09,1.933165e+09
12,Bonds,3.005000e+08,4.230000e+08,3.819000e+08,2.660000e+08,1.676000e+08,5.214000e+08,8.770000e+07,8.000000e+07,2.152950e+08,1.240000e+08,1.240000e+08
13,Total Funding,3.199984e+10,3.192931e+10,3.232898e+10,3.322359e+10,3.299013e+10,3.395000e+10,3.526597e+10,3.734547e+10,3.812904e+10,3.935379e+10,4.082679e+10
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Full-Time,4.865200e+04,4.756900e+04,4.678500e+04,4.655600e+04,4.585700e+04,4.520000e+04,4.581800e+04,4.564600e+04,4.561400e+04,4.592300e+04,4.627800e+04
17,Part-Time,1.619000e+03,1.582000e+03,1.543000e+03,1.483000e+03,1.445000e+03,1.427000e+03,1.359000e+03,1.285000e+03,1.117000e+03,1.076000e+03,1.085000e+03
18,Seasonal,5.980000e+02,5.980000e+02,5.340000e+02,5.090000e+02,5.060000e+02,5.040000e+02,5.020000e+02,4.700000e+02,4.520000e+02,4.110000e+02,4.110000e+02
19,Higher Education,2.380000e+04,2.398900e+04,2.429200e+04,2.480200e+04,2.493100e+04,2.528000e+04,2.572600e+04,2.590300e+04,2.624900e+04,2.669300e+04,2.669300e+04

In [8]:
df.tail(20)

,CFG Budget Data Reconciliation,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Variance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Payroll,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,Operational,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,Total Expenditures,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,State Appropriations,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,Federal Revenue,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,Other Revenue,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,Tuition and Fees,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,Bonds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,Total Funding,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Full-Time,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,Part-Time,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,Seasonal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,Higher Education,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,Total Positions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CFG Budget Data Reconciliation  45 non-null     object
 1   Unnamed: 1                      43 non-null     float64
 2   Unnamed: 2                      43 non-null     float64
 3   Unnamed: 3                      43 non-null     float64
 4   Unnamed: 4                      43 non-null     float64
 5   Unnamed: 5                      43 non-null     float64
 6   Unnamed: 6                      43 non-null     float64
 7   Unnamed: 7                      43 non-null     float64
 8   Unnamed: 8                      43 non-null     float64
 9   Unnamed: 9                      43 non-null     float64
 10  Unnamed: 10                     43 non-null     float64
 11  Unnamed: 11                     43 non-null     float64
dtypes: float64(11), object(1)
memory usage: 5.8+ KB