In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

2016 graduate rate

In [63]:
df1 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\graduation\data_graduation_cohort_2015-16.xlsx")

In [64]:
df1.head()

,District_ID,District_Name,School_ID,School_Name,Subgroup,Subject,Graduate_Cohort_2016,Graduate_Count_2016,Graduate_Rate_2016
0,0,State of Tennessee,0,All Schools,All Students,Graduation Rate,71379,63194.0,88.5
1,0,State of Tennessee,0,All Schools,American Indian or Alaska Native,Graduation Rate,244,211.0,86.5
2,0,State of Tennessee,0,All Schools,Asian,Graduation Rate,1396,1299.0,93.1
3,0,State of Tennessee,0,All Schools,Black or African American,Graduation Rate,17943,14759.0,82.3
4,0,State of Tennessee,0,All Schools,Black/Hispanic/Native American,Graduation Rate,22622,18681.0,82.6

In [65]:
df1['District_Name'].unique()

array(['State of Tennessee', 'Anderson County', 'Oak Ridge City',
       'Bedford County', 'Benton County', 'Bledsoe County',
       'Blount County', 'Alcoa City', 'Maryville City', 'Bradley County',
       'Cleveland City', 'Campbell County', 'Cannon County',
       'Carroll County', 'Hollow Rock-Bruceton',
       'Huntingdon Special School District',
       'McKenzie Special School District',
       'South Carroll Special School District',
       'West Carroll Special School District', 'Carter County',
       'Elizabethton City', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Tullahoma City', 'Crockett County', 'Cumberland County',
       'Davidson County', 'Decatur County', 'DeKalb County',
       'Dickson County', 'Dyer County', 'Dyersburg City',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Humboldt City', 'Milan Special School District',
       'Trenton Special School District',
       'Bradford Special School District',
       'Gibson County Special School District', 'Giles County',
       'Grainger County', 'Greene County', 'Greeneville City',
       'Grundy County', 'Hamblen County', 'Hamilton County',
       'Hancock County', 'Hardeman County', 'Hardin County',
       'Hawkins County', 'Haywood County', 'Henderson County',
       'Henry County', 'Hickman County', 'Houston County',
       'Humphreys County', 'Jackson County', 'Jefferson County',
       'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Fayetteville City', 'Loudon County',
       'Lenoir City', 'McMinn County', 'McNairy County', 'Macon County',
       'Jackson-Madison County', 'Marion County', 'Richard City',
       'Marshall County', 'Maury County', 'Meigs County', 'Monroe County',
       'Montgomery County', 'Moore County', 'Morgan County',
       'Obion County', 'Union City', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Oneida Special School District',
       'Sequatchie County', 'Sevier County', 'Shelby County (New)',
       'Arlington City', 'Bartlett City', 'Collierville City',
       'Germantown City', 'Millington City', 'Smith County',
       'Stewart County', 'Sullivan County', 'Bristol City',
       'Kingsport City', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Van Buren County', 'Warren County', 'Washington County',
       'Johnson City', 'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County', 'Alvin C. York Institute',
       'Tenn School For Blind', 'Tenn Sch For Deaf',
       "Department of Children's Services Ed. Division",
       'Achievement School District'], dtype=object)

In [66]:
df2016 = df1[(df1['District_Name'] == 'Davidson County') & (df1['Subgroup'] == 'All Students') & (df1['School_Name'] == 'All Schools')]

In [67]:
df2016 = df2016[['Graduate_Rate_2016']]
df2016 = df2016.rename(columns={'Graduate_Rate_2016' : '2016_grad_rate'})

In [68]:
df2016

      2016_grad_rate
1044            81.0

2017 graduate rate

In [69]:
df2 = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\graduation\data_graduation_cohort_2016-17.csv")

In [70]:
df2.head()

,system,system_name,school,school_name,subgroup,subject,grad_cohort,grad_count,grad_rate
0,0.0,State of Tennessee,0.0,All Schools,All Students,Graduation Rate,72289,64407.0,89.1
1,0.0,State of Tennessee,0.0,All Schools,American Indian or Alaska Native,Graduation Rate,246,217.0,88.2
2,0.0,State of Tennessee,0.0,All Schools,Asian,Graduation Rate,1391,1309.0,94.1
3,0.0,State of Tennessee,0.0,All Schools,Black or African American,Graduation Rate,18154,15033.0,82.8
4,0.0,State of Tennessee,0.0,All Schools,Black/Hispanic/Native American,Graduation Rate,23320,19353.0,83.0

In [71]:
df2017 = df2[(df2['system_name'] == 'Davidson County') & (df2['subgroup'] == 'All Students') & (df2['school_name'] == 'All Schools')]

In [72]:
df2017 = df2017[['grad_rate']]

In [73]:
df2017.rename(columns={'grad_rate' : '2017_grad_rate'},inplace=True)

In [74]:
df2017

      2017_grad_rate
1052            80.3

2018 grad rate

In [81]:
df3 = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\graduation\2017-18_grad_rate_district.csv")

In [82]:
df3.head()

,year,system,system_name,subgroup,grad_cohort,grad_count,grad_rate
0,2018,10,Anderson County,All Students,541,519,95.9
1,2018,10,Anderson County,American Indian or Alaska Native,4,*,*
2,2018,10,Anderson County,Asian,2,*,*
3,2018,10,Anderson County,Black or African American,25,21,84
4,2018,10,Anderson County,Black/Hispanic/Native American,33,29,87.9

In [85]:
df3['system_name'].unique()

array(['Anderson County', 'Oak Ridge', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Alcoa', 'Maryville',
       'Bradley County', 'Cleveland', 'Campbell County', 'Cannon County',
       'Carroll County', 'Hollow Rock - Bruceton',
       'Huntingdon Special School District', 'McKenzie', 'South Carroll',
       'West Carroll Sp Dist', 'Carter County', 'Elizabethton',
       'Cheatham County', 'Chester County', 'Claiborne County',
       'Clay County', 'Cocke County', 'Coffee County', 'Tullahoma',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Dyersburg', 'Fayette County Public Schools', 'Fentress County',
       'Franklin County', 'Humboldt City Schools', 'Milan', 'Trenton',
       'Bradford', 'Gibson Co Sp Dist', 'Giles County', 'Grainger County',
       'Greene County', 'Greeneville', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hancock County', 'Hardeman County Schools',
       'Hardin County', 'Hawkins County', 'Haywood County',
       'Henderson County', 'Henry County', 'Hickman County',
       'Houston County', 'Humphreys County', 'Jackson County',
       'Jefferson County', 'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Fayetteville', 'Loudon County', 'Lenoir City',
       'McMinn County', 'McNairy County', 'Macon County',
       'Madison County', 'Marion County', 'Richard City',
       'Marshall County', 'Maury County', 'Meigs County', 'Monroe County',
       'Montgomery County', 'Moore County', 'Morgan County',
       'Obion County', 'Union City', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Oneida', 'Sequatchie County', 'Sevier County',
       'Shelby County', 'Arlington', 'Bartlett', 'Collierville',
       'Germantown', 'Millington Municipal Schools', 'Smith County',
       'Stewart County', 'Sullivan County', 'Bristol', 'Kingsport',
       'Sumner County', 'Tipton County', 'Trousdale County',
       'Unicoi County', 'Union County', 'Van Buren County',
       'Warren County', 'Washington County', 'Johnson City',
       'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County', 'Alvin C York Institute',
       'Tennessee School for Blind', 'Tennessee School for the Deaf',
       "Department of Children's Services", 'Achievement School District'],
      dtype=object)

In [83]:
#df2018 = df3[(['system_name'] == 'Davidson County') & (df3['subgroup'] == 'All Students')]
#df2018 = df2018[['grad_rate']]
#df2018.rename(columns={'grad_rate' : '2018_grad_rate'},inplace=True)

In [88]:
df3[df3['system_name'] == 'Davidson County']

,year,system,system_name,subgroup,grad_cohort,grad_count,grad_rate
527,2018,190,Davidson County,All Students,5742,4605,80.2
528,2018,190,Davidson County,American Indian or Alaska Native,9,*,*
529,2018,190,Davidson County,Asian,261,239,91.6
530,2018,190,Davidson County,Black or African American,2571,2096,81.5
531,2018,190,Davidson County,Black/Hispanic/Native American,3834,3013,78.6
532,2018,190,Davidson County,Economically Disadvantaged,3099,2346,75.7
533,2018,190,Davidson County,English Learners with Transitional 1-4,866,577,66.6
534,2018,190,Davidson County,Female,2836,2400,84.6
535,2018,190,Davidson County,Hispanic,1254,910,72.6
536,2018,190,Davidson County,Homeless,412,255,61.9
537,2018,190,Davidson County,Male,2906,2205,75.9
538,2018,190,Davidson County,Migrant,16,14,87.5
539,2018,190,Davidson County,Native Hawaiian or Other Pacific Islander,6,*,*
540,2018,190,Davidson County,Non-Black/Hispanic/Native American,1908,1592,83.4
541,2018,190,Davidson County,Non-Economically Disadvantaged,2643,2259,85.5
542,2018,190,Davidson County,Non-English Learners/Transitional 1-4,4876,4028,82.6
543,2018,190,Davidson County,Non-Homeless,5330,4350,81.6
544,2018,190,Davidson County,Non-Migrant,5726,4591,80.2
545,2018,190,Davidson County,Non-Students with Disabilities,5065,4214,83.2
546,2018,190,Davidson County,Students with Disabilities,677,391,57.8
547,2018,190,Davidson County,White,1641,1348,82.1

In [91]:
df2018 = df3[(df3['subgroup'] == 'All Students')]

In [93]:
df2018 = df2018[df2018['system_name'] == 'Davidson County']

In [94]:
df2018 = df2018[['grad_rate']]
df2018.rename(columns={'grad_rate' : '2018_grad_rate'},inplace=True)

In [95]:
df2018

    2018_grad_rate
527           80.2

2019 graduate data

In [97]:
df4 = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\graduation\2018-19_district_grad_rate_suppressed.csv")

In [98]:
df4.head()

,year,system,system_name,subgroup,grad_cohort,grad_count,grad_rate
0,2019,10,Anderson County,All Students,552,528,95.7
1,2019,10,Anderson County,American Indian or Alaska Native,2,*,*
2,2019,10,Anderson County,Asian,8,*,*
3,2019,10,Anderson County,Black or African American,10,8,80
4,2019,10,Anderson County,Black/Hispanic/Native American,19,17,89.5

In [101]:
df2019 = df4[(df4['subgroup'] == 'All Students')]
df2019 = df2019[df2019['system_name'] == 'Davidson County']
df2019 = df2019[['grad_rate']]
df2019.rename(columns={'grad_rate' : '2019_grad_rate'},inplace=True)

In [102]:
df2019

    2019_grad_rate
535           82.4

2020 graduate data

In [103]:
df5 = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\graduation\2019-20_district_grad_rate_suppressed.csv")

In [104]:
df5.head()

,year,system,system_name,subgroup,grad_cohort,grad_count,grad_rate
0,2020,10,Anderson County,All Students,513,489,95.3
1,2020,10,Anderson County,American Indian or Alaska Native,2,*,*
2,2020,10,Anderson County,Asian,4,*,*
3,2020,10,Anderson County,Black or African American,20,19,95
4,2020,10,Anderson County,Black/Hispanic/Native American,36,33,91.7

In [105]:
df2020 = df4[(df4['subgroup'] == 'All Students')]
df2020 = df2020[df2020['system_name'] == 'Davidson County']
df2020 = df2020[['grad_rate']]
df2020.rename(columns={'grad_rate' : '2020_grad_rate'},inplace=True)

In [106]:
df2020

    2020_grad_rate
535           82.4

Combine all into one dataframe