In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\graduation\data_graduation_cohort_2015-16.xlsx")

In [4]:
df.head()

,District_ID,District_Name,School_ID,School_Name,Subgroup,Subject,Graduate_Cohort_2016,Graduate_Count_2016,Graduate_Rate_2016
0,0,State of Tennessee,0,All Schools,All Students,Graduation Rate,71379,63194.0,88.5
1,0,State of Tennessee,0,All Schools,American Indian or Alaska Native,Graduation Rate,244,211.0,86.5
2,0,State of Tennessee,0,All Schools,Asian,Graduation Rate,1396,1299.0,93.1
3,0,State of Tennessee,0,All Schools,Black or African American,Graduation Rate,17943,14759.0,82.3
4,0,State of Tennessee,0,All Schools,Black/Hispanic/Native American,Graduation Rate,22622,18681.0,82.6

In [8]:
df['District_Name'].unique()

array(['State of Tennessee', 'Anderson County', 'Oak Ridge City',
       'Bedford County', 'Benton County', 'Bledsoe County',
       'Blount County', 'Alcoa City', 'Maryville City', 'Bradley County',
       'Cleveland City', 'Campbell County', 'Cannon County',
       'Carroll County', 'Hollow Rock-Bruceton',
       'Huntingdon Special School District',
       'McKenzie Special School District',
       'South Carroll Special School District',
       'West Carroll Special School District', 'Carter County',
       'Elizabethton City', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Tullahoma City', 'Crockett County', 'Cumberland County',
       'Davidson County', 'Decatur County', 'DeKalb County',
       'Dickson County', 'Dyer County', 'Dyersburg City',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Humboldt City', 'Milan Special School District',
       'Trenton Special School District',
       'Bradford Special School District',
       'Gibson County Special School District', 'Giles County',
       'Grainger County', 'Greene County', 'Greeneville City',
       'Grundy County', 'Hamblen County', 'Hamilton County',
       'Hancock County', 'Hardeman County', 'Hardin County',
       'Hawkins County', 'Haywood County', 'Henderson County',
       'Henry County', 'Hickman County', 'Houston County',
       'Humphreys County', 'Jackson County', 'Jefferson County',
       'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Fayetteville City', 'Loudon County',
       'Lenoir City', 'McMinn County', 'McNairy County', 'Macon County',
       'Jackson-Madison County', 'Marion County', 'Richard City',
       'Marshall County', 'Maury County', 'Meigs County', 'Monroe County',
       'Montgomery County', 'Moore County', 'Morgan County',
       'Obion County', 'Union City', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Oneida Special School District',
       'Sequatchie County', 'Sevier County', 'Shelby County (New)',
       'Arlington City', 'Bartlett City', 'Collierville City',
       'Germantown City', 'Millington City', 'Smith County',
       'Stewart County', 'Sullivan County', 'Bristol City',
       'Kingsport City', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Van Buren County', 'Warren County', 'Washington County',
       'Johnson City', 'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County', 'Alvin C. York Institute',
       'Tenn School For Blind', 'Tenn Sch For Deaf',
       "Department of Children's Services Ed. Division",
       'Achievement School District'], dtype=object)

In [14]:
df2016 = df[(df['District_Name'] == 'Davidson County') & (df['Subgroup'] == 'All Students') & (df['School_Name'] == 'All Schools')]

In [15]:
df2016

,District_ID,District_Name,School_ID,School_Name,Subgroup,Subject,Graduate_Cohort_2016,Graduate_Count_2016,Graduate_Rate_2016
1044,190,Davidson County,0,All Schools,All Students,Graduation Rate,5422,4394.0,81.0