In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\pavementroughness.csv")

In [3]:
df.head()

   Year  Month    County Category  Value LastReportedDate  Unnamed: 6
0  2017    NaN  Anderson     Fair  45.49       2018-10-09         NaN
1  2017    NaN  Anderson     Good  99.08       2018-10-09         NaN
2  2017    NaN  Anderson  No Data   0.00       2018-10-09         NaN
3  2017    NaN  Anderson     Poor   6.61       2018-10-09         NaN
4  2017    NaN   Bedford     Fair  29.39       2018-10-09         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              761 non-null    object
 1   Month             0 non-null      float64
 2   County            760 non-null    object
 3   Category          760 non-null    object
 4   Value             760 non-null    float64
 5   LastReportedDate  760 non-null    object
 6   Unnamed: 6        0 non-null      float64
dtypes: float64(3), object(4)
memory usage: 41.7+ KB