In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\pavementroughness.csv")

In [5]:
df.head(30)

    Year  Month    County Category   Value LastReportedDate  Unnamed: 6
0   2017    NaN  Anderson     Fair   45.49       2018-10-09         NaN
1   2017    NaN  Anderson     Good   99.08       2018-10-09         NaN
2   2017    NaN  Anderson  No Data    0.00       2018-10-09         NaN
3   2017    NaN  Anderson     Poor    6.61       2018-10-09         NaN
4   2017    NaN   Bedford     Fair   29.39       2018-10-09         NaN
5   2017    NaN   Bedford     Good  130.88       2018-10-09         NaN
6   2017    NaN   Bedford  No Data    0.03       2018-10-09         NaN
7   2017    NaN   Bedford     Poor    5.62       2018-10-09         NaN
8   2017    NaN    Benton     Fair   40.45       2018-10-09         NaN
9   2017    NaN    Benton     Good   75.72       2018-10-09         NaN
10  2017    NaN    Benton  No Data    0.00       2018-10-09         NaN
11  2017    NaN    Benton     Poor    3.71       2018-10-09         NaN
12  2017    NaN   Bledsoe     Fair   12.78       2018-10-09         NaN
13  2017    NaN   Bledsoe     Good   54.80       2018-10-09         NaN
14  2017    NaN   Bledsoe  No Data    0.00       2018-10-09         NaN
15  2017    NaN   Bledsoe     Poor    0.51       2018-10-09         NaN
16  2017    NaN    Blount     Fair   54.41       2018-10-09         NaN
17  2017    NaN    Blount     Good  104.53       2018-10-09         NaN
18  2017    NaN    Blount  No Data    0.00       2018-10-09         NaN
19  2017    NaN    Blount     Poor    9.95       2018-10-09         NaN
20  2017    NaN   Bradley     Fair   25.63       2018-10-09         NaN
21  2017    NaN   Bradley     Good  127.61       2018-10-09         NaN
22  2017    NaN   Bradley  No Data    0.00       2018-10-09         NaN
23  2017    NaN   Bradley     Poor    3.83       2018-10-09         NaN
24  2017    NaN  Campbell     Fair   20.57       2018-10-09         NaN
25  2017    NaN  Campbell     Good  121.76       2018-10-09         NaN
26  2017    NaN  Campbell  No Data    0.00       2018-10-09         NaN
27  2017    NaN  Campbell     Poor    4.92       2018-10-09         NaN
28  2017    NaN    Cannon     Fair   14.32       2018-10-09         NaN
29  2017    NaN    Cannon     Good   63.96       2018-10-09         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              761 non-null    object
 1   Month             0 non-null      float64
 2   County            760 non-null    object
 3   Category          760 non-null    object
 4   Value             760 non-null    float64
 5   LastReportedDate  760 non-null    object
 6   Unnamed: 6        0 non-null      float64
dtypes: float64(3), object(4)
memory usage: 41.7+ KB

In [7]:
df2 = df[df['County'] == 'Davidson']

In [8]:
df2

     Year  Month    County Category   Value LastReportedDate  Unnamed: 6
72   2017    NaN  Davidson     Fair  117.07       2018-10-09         NaN
73   2017    NaN  Davidson     Good  305.89       2018-10-09         NaN
74   2017    NaN  Davidson  No Data    0.00       2018-10-09         NaN
75   2017    NaN  Davidson     Poor   37.81       2018-10-09         NaN
452  2020    NaN  Davidson     Fair  120.49       2021-01-26         NaN
453  2020    NaN  Davidson     Good  307.24       2021-01-26         NaN
454  2020    NaN  Davidson  No Data    0.15       2021-01-26         NaN
455  2020    NaN  Davidson     Poor   42.58       2021-01-26         NaN